<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" href="https://i.pinimg.com/736x/4f/1b/b4/4f1bb4bcd73e789aaf4f27b66215e81f.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
      body {
          margin: 0;
          padding: 0;
          background-image: url(https://radio.uabc.mx/sites/default/files/imagenes/podcast/medicina-umsa.jpg);
          background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
          background-position: center; /* Centra la imagen en el fondo */
          background-repeat: no-repeat; /* Evita la repetición de la imagen en el fondo */
      }
      
      /* Otros estilos para el contenido de la página */
    </style>
       
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    

    <title>CENTRO MÉDICO</title>
</head>
<body class="bg-image" style="background-image: URL(https://previews.123rf.com/images/tonefotografia/tonefotografia1705/tonefotografia170501878/78906498-doctor-medicina-mano-sosteniendo-el-estetoscopio-y-trabajando-con-iconos-m%C3%A9dicos-modernos.jpg)">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="\irarp">Registrar Paciente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/eliminarpaciente">Eliminar Paciente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/editarpaciente">Actualizar Paciente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registrarMedico">Registrar Medico</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/eliminarmedico">Eliminar Medico</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/editarmedico">Actualizar Medico</a>
              </li>
              <li class="nav-item">
              <li class="nav-item">
                <a class="nav-link" href="/buscarcon">Consultas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/iracerrar">Cerrar Secion</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    {%block body%}



    {%endblock%}

    <div class="mt-5 text-center">
      <div class="alert alert-danger" role="alert">
         Centro Medico UPQ Copyright © 1994 - 2023 ADM. Todos los derechos reservados.
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>